
<div class="side">
   
    <mat-divider></mat-divider>
    <a routerLink=""><h2><mat-icon>home</mat-icon>Home</h2></a>
    <mat-divider></mat-divider>
    <a routerLink="about"><h2><mat-icon>business</mat-icon>About</h2></a>
    <mat-divider></mat-divider>
    
    <a routerLink="admission"><h2><mat-icon>school</mat-icon>Admission</h2></a>
    <mat-divider></mat-divider>
    <a routerLink="gallery"><h2><mat-icon>perm_media</mat-icon>Gallery</h2></a>
    <mat-divider></mat-divider>
   
    <a routerLink="contact"><h2><mat-icon>contacts</mat-icon>Contact</h2></a>
   
    
</div>