<!--card-->

    
        <div class="cards">
        
            <!--card1-->
            <mat-card>
                <app-card icon="person" description="Student" count="500"></app-card>
            </mat-card>
        
            <!--card2-->
            <mat-card>
                <app-card icon="groups" description="Employee" count="100"></app-card>
            </mat-card>
        
            <!--card3-->
            <mat-card>
                <app-card icon="school" description="Admission" count="100"></app-card>
            </mat-card>
        
        
        
        
        </div>
    


<!--bargraph-->

<div class="first">
    <div class="bargraph">
        <app-results></app-results>
    </div>
    <div>
        <app-placements></app-placements>
    </div>
</div>

<!--piechart and graph  (table and graph)-->


<!--pie(table)-->
<div class="tablepie">
    <div class="table">
        <app-piechart></app-piechart>
    </div>

    <div>
        <!--graph-->
        <div>
            <app-bargraph></app-bargraph>
        </div>

    </div>
</div>