
    

    
<div class="card" style="width: 18rem; " >
        <div class="card-body">
          <h5 class="card-title">Upcoming Events</h5>
          <div class="event_details">
            <div class="d-flex mb-4">
                <div class="date"><span class="text-danger">15</span> Jun</div>
                <div class="time-location">
                    <p><span class="ti-time mr-2"></span> 12:00 PM </p>
                    <p><span class="ti-location-pin mr-2"></span>@College Auditorium</p>
                </div>
            </div>
          <p class="card-text">UNION INAGURATION</p>
          <a href="#" class="card-link">View Details</a>
          
        </div>
      </div>
    
    
